/* comment */
// comment  変換後反映されない

/*　基本的な形　*/
#main {
  width: 90%;
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}


/*　変数を使用する（数値）　*/
$baseFontSiza: 14px;

#main {
  width: 90%;
  p {
    font-size: $baseFontSiza;
  }
  a {
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}

/*　変数を使用する　*/
$baseFontSiza: 14px;

#main {
  width: 90%;
  p {
    font-size: $baseFontSiza;
  }
  a {
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}
